.button-eye{
    border: transparent;
    width: 10%;
    i {
        color: green;
    }
}

.font-36{
    font-size: 36px;
    color: blue;
}

.info{
    font-size: 30px;
}

.button-start{
    height: 100px; 
    width: 30%;
    background-color: green;
    color: white;
}